	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" >
		<div layout:fragment="sidebar" th:replace="layout/sidebar">
		</div>
		<div layout:fragment="content" th:fragment="content">
			<!-- <div th:replace="fragments :: navbar"></div> -->
			<!-- <h1 layout:fragment="page-header">Messages : View all</h1> -->

			<div class="page-header">
				<h1>人脸列表</h1>
			</div>
			
			<div class="clearfix">
				<div class="pull-left tableTools-container" id="btns-left"></div>
				<div class="pull-right tableTools-container" id="btns-right"></div>
			</div>
			<div class="table-header">
				人脸列表
			</div>
			<div >
				<table id="dynamic-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							<th class="center">
							</th>
							<th>人脸ID</th>
							<th>姓名</th>
							<th>性别</th>
							<th class="hidden-480">身份证号</th>
							<th>
								<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
								电话
							</th>
							<!--<th class="hidden-480">创建时间</th>-->
						</tr>
					</thead>
				</table>
			</div>

		<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		  <div class="modal-dialog" role="document"  >
		    <div class="modal-content" style="width: 150%;margin-left: -20%;">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="editModalLabel">修改</h4>
		      </div>
		      <div class="modal-body">
				  <form id="edit_form" class="form-horizontal" enctype="multipart/form-data">
					  <input type="hidden" name="id" id="editId"/>
					  <input type="hidden" name="imgpath" id="imgpath"/>
					  <div style="float:left;width: 40%;margin-top: 30px;margin-left: 80px;">
						  <div class="form-group">
							  <div class="col-sm-9" >
								  <!--<input type="file" name="myfile" id="my-file-input" disabled="disabled" />-->
								  <img src="" id="peopleImg" onload="load()">
							  </div>
						  </div>
					  </div>
					  <div style="width: 50%;margin-top: 30px;float: right;">
						  <div class="form-group">
							  <label for="recipient-name" class="col-sm-2 control-label">姓名:</label>
							  <div class="col-sm-9">
								  <input type="text" class="form-control" name="name" id="name">
							  </div>
						  </div>
						  <div class="form-group">
							  <label for="recipient-name" class="col-sm-2 control-label">性别:</label>
							  <div class="col-sm-9">
								  <select name="sex" class="chosen-select form-control">
									  <option value="0">男</option>
									  <option value="1">女</option>
								  </select>
							  </div>
						  </div>
						  <div class="form-group">
							  <label for="recipient-name" class="col-sm-2 control-label">身份证号:</label>
							  <div class="col-sm-9">
								  <input type="text" class="form-control" name="idCard" id="idCard">
							  </div>
						  </div>
						  <div class="form-group">
							  <label for="recipient-name" class="col-sm-2 control-label">电话:</label>
							  <div class="col-sm-9">
								  <input type="text" class="form-control" name="phoneNumber" id="phoneNumber">
							  </div>
						  </div>
						  <div class="form-group">
							  <label for="recipient-name" class="col-sm-2 control-label">人脸库:</label>
							  <div class="col-sm-9">
								  <select class="chosen-select form-control" name="facesetToken" disabled="true"></select>
							  </div>
						  </div>
						  <div class="form-group" style="float: right;padding-right: 12%;">
							  <button type="button" class="btn btn-primary" id="edit_submit">提交</button>
						  </div>
					  </div>
				  </form>
		      </div>
		      <div class="modal-footer">
		        <!--<button type="button" class="btn btn-primary" id="edit_submit">提交</button>-->
		      </div>
		    </div>
		  </div>
		</div>
		
		<script type="text/javascript">
		 function load(){
			 var $_obj = $("<img>")[0];
			 var $_img = $("#peopleImg");
			 $_obj.src = $_img[0].src;
				var origin_w = $_obj.width;
				var origin_h = $_obj.height;
				$_img.height(250);
				var width = origin_w/origin_h*250;
				if(width > 250){
				    $_img.width(250);
				    $_img.height(250*250/width);
				}
				else{
					$_img.width(origin_w/origin_h*250);
				}
			$('#edit_modal').modal('show')
			}
		$(function(){
			$.ajaxSetup({ cache: false });
			$.cookie("facesetToken","");　
				var tableconfig= {
						bAutoWidth: false,
						ajax:{
                           dataSrc: 'faces'
						},
						columns: [
						    {
						    	bSortable: false,
						    	className: 'center',
						    	defaultContent: '<label class="pos-rel"><input type="checkbox" class="ace"><span class="lbl"></span></label>'
						    	},
				            { data: "id"},
				            { data: "name"},
				            { data: "sex",
				           		 render:function(data){
				            	if(data == '0')
				            		return '男'
				            	else if(data == '1'){
				            			return '女'
				            		}
				            	else return '未知';
				            }
				            },
				            { data: "idCard"},
				            { data: "phoneNumber"}
				        ],
				        destroy:true,
				        "serverSide": true,
				         searchDelay: 500,
						language : {
							url: '/datatables/zh_cn.json',
							buttons: {
								copyTitle: '复制到剪切板',
								copySuccess: '复制了 %d行'
							}
						},
						"aaSorting": [],
						select: {
							style: 'single'
						}
				    } ;
				var myTable =	$('#dynamic-table').DataTable(tableconfig);
					
 					$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

					var btn1 = new $.fn.dataTable.Buttons( myTable, {
						buttons: [
						  {
							 text: "<i class='fa fa-refresh bigger-110 blue'></i> <span class='hidden'>重新加载</span>",
							 className: "btn btn-white btn-primary btn-bold",
							 action: function ( e, dt, node, config ) {
							    dt.ajax.url('getFace?facesetToken='+$("select[name=facesetToken]").val()).load();
							 }
						  },
						  {
							extend: "colvis",
							text: "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>显示/隐藏 列</span>",
							className: "btn btn-white btn-primary btn-bold",
							columns: ':not(:first):not(:last)'
						  },
						  {
							extend: "copy",
							text: "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>复制到前切板</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "csv",
							text: "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>导出 到CSV</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "excel",
							text: "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>导出到 Excel</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "pdf",
							text: "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>导出到PDF</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "print",
							text: "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>打印</span>",
							className: "btn btn-white btn-primary btn-bold",
							autoPrint: false,
							message: 'This print was produced using the Print button for DataTables'
						  }
						]
					} );
					//btn1.container().appendTo( $('#btns-right') );
					var defaultCopyAction = myTable.button(1).action();
					myTable.button(1).action(function (e, dt, button, config) {
						defaultCopyAction(e, dt, button, config);
						$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
					});


					var defaultColvisAction = myTable.button(0).action();
					myTable.button(0).action(function (e, dt, button, config) {
						defaultColvisAction(e, dt, button, config);
						if($('.dt-button-collection > .dropdown-menu').length == 0) {
							$('.dt-button-collection')
							.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
							.find('a').attr('href', '#').wrap("<li />")
						}
						$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
					});


					var btn2 = new $.fn.dataTable.Buttons( myTable, {
						buttons: [
				            {
				                text: "<i class='fa fa-edit bigger-110 green'></i> <span class='hidden'>编辑人脸</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
				                	var d = dt.rows( { selected: true } ).data();
				                	if(d.length === 0){
				                    	 $.alert({
												title: '提示',
												content: '请选择一行',
											});
				                	}else{
										$("#edit_form select[name=facesetToken]").children().each(function(index,data){
										       if($(data).val() == d[0].faceSet.token){
										       			$(data).attr("selected","selected");
										       }
										})
                                        $('#edit_modal #editId').val(d[0].id);
                                        $('#edit_modal #imgpath').val(d[0].imgpath);
                                        $('#edit_modal #name').val(d[0].name);
				                		$('#edit_modal #idCard').val(d[0].idCard);
				                		$('#edit_modal #phoneNumber').val(d[0].phoneNumber);
				                		$("#peopleImg").attr("src","/people/"+d[0].imgpath)
									}
				                }
				            },
				            {
				                text: "<i class='fa fa-trash bigger-110 red'></i> <span class='hidden'>删除人脸</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
				                	var d = dt.rows( { selected: true } ).data();
				                	var ids = [];
				                	for(var i=0;i<d.length;i++){
				                	  	ids.push(d[i].id);
				                	}
				                	if(d.length === 0){
				                          $.alert({
												title: '提示',
												content: '请选择一行',
											});
				                	}else{
				                		$.ajax({
				                			url: 'delFace',
				                		    type: 'post',
				                		    dataType:"text",
				                		    data:{
				                		    	 faceToken: ids.join(','),
				                		    	 facesetToken : $("select[name=facesetToken]").val(),
				                		    	_method: 'DELETE'
				                		    },
				                		    success: function(result) {
				                		    	if(result == "success"){
				                		    		$.alert({
				                		    		    title: '提示',
				                		    		    content: '删除成功',
				                		    		});
				                   		    		dt.ajax.url('getFace?facesetToken='+$("select[name=facesetToken]").val()).load();
				                   		    	}
				                   		    	else $.alert(result)
				                		    }
				                		});
				                	}
				                }
				            },
				            {
							 text: "<i class='fa fa-refresh bigger-110 blue'></i> <span class='hidden'>重新加载</span>",
							 className: "btn btn-white btn-primary btn-bold",
							 action: function ( e, dt, node, config ) {
							    dt.ajax.url('getFace?facesetToken='+$("select[name=facesetToken]").val()).load();
							 }
						  }
				        ]
					} );

					btn2.container().appendTo( $('#btns-left') );
					setTimeout(function() {
						$($('.tableTools-container')).find('a.dt-button').each(function() {
							var div = $(this).find(' > div').first();
							if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
							else $(this).tooltip({container: 'body', title: $(this).text()});
						});
					}, 500);

					myTable.on( 'select', function ( e, dt, type, index ) {
						if ( type === 'row' ) {
							$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
						}
					} );
					myTable.on( 'deselect', function ( e, dt, type, index ) {
						if ( type === 'row' ) {
							$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
						}
					} );

				   $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
				   $('#dynamic-table').on('click', 'td input[type=checkbox]', function(e){
					  var row = $(this).closest('tr').get(0);
				      if(this.checked) myTable.row(row).deselect();
				      else myTable.row(row).select();
				      e.stopImmediatePropagation();
				      e.stopPropagation();
				      e.preventDefault();
				   });

				   $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
				      e.stopImmediatePropagation();
				      e.stopPropagation();
				      e.preventDefault();
				   });


				   $('#edit_modal').on('shown.bs.modal', function(e){
					   $('#edit_modal :input[name="name"]').focus();
				   })
				    $('#edit_modal').on('hidden.bs.modal', function(e){
				  		  $("#peopleImg").removeAttr("src");
				        <!--$("#edit_form").data('bootstrapValidator').destroy();-->
                        <!--$('#edit_form').data('bootstrapValidator', reset());-->
				   })

				   $('#edit_submit').click(function(e){
				   $('#edit_form').bootstrapValidator('validate');
				   <!--var bootstrapValidator = $("#edit_form").data('bootstrapValidator');-->
				   <!--if(bootstrapValidator.isValid())-->
				   <!--{-->
					   var data = $('#edit_form').serialize();
					  // data.facesetToken = $("#edit_form select[name=facesetToken]").val();
					  $("#edit_form").ajaxSubmit({
										type: 'post',
										url: 'updateFace',
										data: data,
										dataType:"text",
										success: function(data) {
										if(data == "success"){
											<!--$("#addform").resetForm();-->
											<!--$("#addform").data('bootstrapValidator').destroy();-->
                      					    <!--$('#addform').data('bootstrapValidator', reset());-->
                      					    $('#my-file-input').ace_file_input('reset_input');
										    $('#edit_modal').modal('hide');
										    myTable.ajax.url('getFace?facesetToken='+$.cookie("facesetToken")).load();
                      					    $.alert("修改成功");
                      					    return;
										}
										else $.alert(data);
										}

									});

									return false; // 阻止表单自动提交事件

				   })
				$(document).off('init.dt').on( 'init.dt', function ( e, settings ) {
					console.log(e);
					    $(":input[type=search]").css("height","20px");
					    $("#dynamic-table_wrapper").children(":first").children(":first").removeClass("col-xs-6").addClass("col-xs-4");
					    $("#dynamic-table_wrapper").children(":first").children(":last").removeClass("col-xs-6").addClass("col-xs-8");
					     var left = '30%';
					     var textleft = '60%';
						 var width = '10%';
						 var facewidth = '30%';
					    if(1622>innerWidth && innerWidth>1447){
								   left = '27%';
							 	   textleft = '56%';
							 	   width = '13%';
					    }
					     if(1447>innerWidth && innerWidth >1290){
								  left = '23%';
								 textleft = '41%';
							 	 width = '15%';
							 	 facewidth = '42%';
					    }
					    if(1290>innerWidth && innerWidth >1180){
					 		    textleft = '32%';
							 	 width = '15%';
							 	 facewidth = '50%';
								  left = '22%';
					    }
					     if(innerWidth <1180){
					     		if(innerWidth<1080 && innerWidth > 960){
 											left = '12%';
 											textleft = '25%';
					     		}
					     		else{
					     		   left = '16%';
					     		   textleft = '28%';
					     		}

							 	 width = '20%';
							 	 facewidth = '52%';
					    }
					    var $_select = '<div class="col-sm-6" style="margin-left:'+left+'"><div style="float: left;width:'+width+';margin-left: '+textleft+';height:27px;margin-top: 5px;"><span>人脸库:</span></div><div style="float:right;width:'+facewidth+'"><select name="facesetToken" class="chosen-select form-control" style="height:30px;width: 100%;"></select></div></div>';
					    $("#dynamic-table_filter").before($_select);
					    $.getJSON('getFaceset',function(data){
					    		$(data.facesets).each(function(index,perdata){
										if(	$.cookie("facesetToken") == perdata.token){
					    			     	var option = "<option selected=selected value=" + perdata.token + ">"+perdata.name+"</option>";
					    				}
					    				else{
					    					var option = "<option value=" + perdata.token + ">"+perdata.name+"</option>";
					    				}
										 $(option).appendTo($("#dynamic-table_wrapper select[name=facesetToken]"));
										 $(option).appendTo($("#edit_form select[name=facesetToken]"));
					    		})

					    })
					  $("select[name=facesetToken]").on("change",function(){
					         $.cookie("facesetToken",this.value);
					  		 myTable.ajax.url('getFace?facesetToken='+this.value).load();
					  })
				} );
			})
		
		</script>
		
		</div>
	</html>	
