	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" >
		<div layout:fragment="sidebar" th:replace="layout/sidebar">
		</div>
		<div layout:fragment="content" th:fragment="content">
			<!-- <div th:replace="fragments :: navbar"></div> -->
			<!-- <h1 layout:fragment="page-header">Messages : View all</h1> -->
			<div class="page-header">
				<h1>Face Data Base List</h1>
			</div>
			<div class="table-header">
				Face Data Base List
			</div>
		<div id="toolbar">
			<div class="dt-buttons btn-overlap btn-group">
				<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span><i class="fa fa-plus bigger-110 green"></i>
						<span class="hidden">add Face DB</span></span>
				</a>
				<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span><i class="fa fa-edit bigger-110 green"></i>
				<span class="hidden">edit Face DB</span></span>
				</a>
				<a class="dt-button btn btn-white btn-primary btn-bold"  tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span> <i class="fa fa-trash bigger-110 red"></i>
				<span class="hidden">delete Face DB</span></span>
				</a>
				<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span> <i class="fa fa-refresh bigger-110 blue"></i>
				<span class="hidden">refresh</span></span>
				</a>
			</div>
		</div>
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="addModalLabel">Face DB</h4>
		      </div>
		      <div class="modal-body">
		        <form id="modal_form" class="form-horizontal">
					<input type="hidden" class="form-control" name="token">
					<input type="hidden" name="_method" value="patch">
		          <div class="form-group">
		            <label for="recipient-name" class="col-sm-2 control-label">name:</label>
		            <div class="col-sm-9">
		            	<input type="text" class="form-control" name="name" required="required" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')" >
		            </div>
		          </div>
					<div class="form-group">
						<label for="recipient-capacity" class="col-sm-2 control-label">capacity:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" value=1000 name="capacity" required="required" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-capacity" class="col-sm-2 control-label">priority:</label>
						<div class="col-sm-9">
							<select name="priority"  class="chosen-select form-control">
								<option value=1>high</option>
								<option value=2>mid</option>
								<option value=3>low</option>
							</select>
						</div>
					</div>

					<div class="modal-footer" style="background-color:white">
						<button type="submit" class="btn btn-primary ladda-button" data-style="slide-up" id="model_submit">submit</button>
					</div>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
			<div>
				<table id="table"
					   data-toolbar="#toolbar"
					   data-maintain-selected="true"
					   data-url="/faceset"
					   data-pagination="true"
					   data-search="true"
					   data-click-to-select="true"
					   data-show-columns="true">
					<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="token" >ID</th>
						<th data-field="name">DB Name</th>
						<th data-field="faceCount">face count</th>
						<th data-field="priority" data-formatter="priFormatter">priority</th>
						<th data-field="createTime">create Time</th>
					</tr>
					</thead>
				</table>
			</div>
		<script type="text/javascript">
		$(function(){
				$('#table').bootstrapTable({
				onDblClickRow:function(row){
					 	  modelShow("dbclick",row);
					 }
				});
			
				   $('#table').on('click-row.bs.table', function (e, row, $element) {
						$('.success').removeClass('success');
							$($element).addClass('success');
   				   });
					 $(".fa-plus").parents("a").on('click',function(){
					     $('#modal :input').val('');
					     $('#modal :input[name="capacity"]').val(1000);
						 $('#modal').modal('show');
					 })
					 $(".fa-edit").parents("a").on('click',function(){
							var ids = getIdSelections();
							if(ids.length ==0|| ids.length >1){
								 $.alert({
									title: 'prompt',
									content: 'choose one please'
								  });
								 return;
					 }
						modelShow("button");
					 })
                    function modelShow(mode,row){
					    if(mode == "button"){
						   var faset =  $('#table').bootstrapTable('getSelections')[0];
					    }
					   else if(mode == 'dbclick')
					    {
						   var faset =  row;
					    }
						$('#modal :input[name="_method"]').val('patch');
						$('#modal :input[name="token"]').val(faset.token);
					    $('#modal :input[name="name"]').val(faset.name);
					    $('#modal :input[name="capacity"]').val(faset.capacity);
                        $('#modal :input[name="priority"]').val(faset.priority);
						$('#modal').modal('show');
                    }
 					$(".fa-trash").parents("a").on('click',function(){
    			 		var ids = getIdSelections();
    			 		if(ids.length ==0 || ids.length>1){
								 $.alert({
									title: 'prompt',
									content: 'choose one please'
								  });
						 	return;
						 }
				    	$.ajax({
								url: '/faceset',
								type: 'post',
								dataType:"text",
								data:{
									 token: ids[0],
									 _method: 'DELETE'
								},
								success: function(result) {
									$('#modal').modal('hide');
									if(result == "success"){
										$.alert({
											title: 'prompt',
											content: 'success'
										});
										$('#table').bootstrapTable('refresh');
									}
									else $.alert(result);
								}
							});
			      	 })
					 $(".fa-refresh").parents("a").on('click',function(){
							 $('#table').bootstrapTable('refresh');
					 })
			    $("#modal_form").on("submit", function(ev) {
					   Ladda.bind('button[type=submit]');
					   var l = Ladda.create($("button[type='submit']")[0]);
					    l.start();
					   var data = $('#modal_form').serializeArray();
					   $.ajax({
	               			url:'/faceset',
	               			data: data,
	               		    type:'POST',
	               		    dataType:"text",
	               		    success: function(result) {
								 $('#table').bootstrapTable('refresh', {
											url: '/faceset'
								 });
	               		    	if(result == "success"){
	               		    		$('#modal').modal('hide');
	               		    		$.alert({
	            		    		    title: 'prompt',
	            		    		    content: 'success'
	            		    		});
	               		    	}
	               		    	else if(result =="failed"){
	               		    		$.alert({
	            		    		    title: 'prompt',
	            		    		    content: 'failed'
	            		    		});
	               		    	}
	               		    	l.stop();
	               		    }
               		  	});
               		  	 ev.preventDefault();
			    })


				  function getIdSelections() {
							return $.map($('#table').bootstrapTable('getSelections'), function (row) {
								return row.token
							});
    			  }
   				   })//  ready end
        function priFormatter(value, row, index) {
            if(value == 1){
                return 'high'
            }
            else if(value == 2){
                return 'mid'
            }
            else if(value == 3){
                return 'low'
            }
        }
		</script>

		</div>
	</html>
