	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{${param.pjax}?'layout/empty':'layout/layout'}" >
		<div layout:fragment="sidebar" th:replace="layout/sidebar">
		</div>
		<div layout:fragment="content">
			<!-- <div th:replace="fragments :: navbar"></div> -->
			<!-- <h1 layout:fragment="page-header">Messages : View all</h1> -->
			<div class="page-header">
				<h1>布控策略</h1>
			</div>
			
			<div class="clearfix">
				<div class="pull-left tableTools-container" id="btns-left"></div>
				<div class="pull-right tableTools-container" id="btns-right"></div>
			</div>
			<div class="table-header">
				布控策略
			</div>
			<div >
				<table id="dynamic-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							<th class="center">
							</th>
							<th>策略ID</th>
							<th>策略名称</th>
							<th>布控类型</th>
							<th class="hidden-480">时间方案</th>
							<th class="hidden-480">阈值</th>
						</tr>
					</thead>
				</table>
			</div>
			
			
		<div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="addModalLabel">新建布控策略</h4>
		      </div>
		      <div class="modal-body">
		        <form id="add_form" class="form-horizontal">
		          <div class="form-group">
		            <label for="recipient-name" class="col-sm-2 control-label">策略名称:</label>
		            <div class="col-sm-9">
		            	<input type="text" class="form-control" name="name">
		            </div>
		          </div>
					<div class="form-group">
						<label for="recipient-ip" class="col-sm-2 control-label">布控类型:</label>
						<div class="col-sm-9">
							<select name="strategyType" class="chosen-select form-control">
								<option value="0">黑名单</option>
								<option value="1">黑名单+白名单</option>
								<option  value="2">黑名单+抓拍</option>
								<option  value="3">白名单+抓拍</option>
								<option  value="4">白名单</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="ip" class="col-sm-2 control-label">时间方案:</label>
						<div class="col-sm-9">
							<select  name="scheme"  class="chosen-select form-control">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">每帧最多抓拍人脸数:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="maxfaceNum">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">比对阀值:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="compareThreshold">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">最小人脸像素:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="minFaceSize">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">人脸数据保存天数:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="preserveDays">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">抓拍人脸质量阈值(0-100):</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="faceQualityThreshold">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">识别入库间隔:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="intervals">
						</div>
					</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="add_submit">提交</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="editModalLabel">布控策略修改</h4>
		      </div>
		      <div class="modal-body">
		        <form id="edit_form" class="form-horizontal">
					<input type="hidden" name="id" id="editId">
		          <input type="hidden" name="_method" value="patch">
		       	  <div class="form-group">
		            <label for="name" class="col-sm-2 control-label">策略名称:</label>
		            <div class="col-sm-9">
		            	<input class="form-control" name="name" id = "name">
		            </div>
		          </div>
		          <div class="form-group">
		            <label for="ip" class="col-sm-2 control-label">布控类型:</label>
		            <div class="col-sm-9">
						<select name="strategyType" class="chosen-select form-control">
							<option value="0">黑名单</option>
							<option value="1">黑名单+白名单</option>
							<option value="2">黑名单+抓拍</option>
							<option value="3">白名单+抓拍</option>
							<option value="4">白名单</option>
						</select>
		            </div>
		          </div>
				<div class="form-group">
					<label for="ip" class="col-sm-2 control-label">时间方案:</label>
					<div class="col-sm-9">
						<select name="scheme"  class="chosen-select form-control">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="port" class="col-sm-2 control-label">每帧最多抓拍人脸数:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="maxfaceNum" id="maxfaceNum">
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="col-sm-2 control-label">比对阀值:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="compareThreshold" id="compareThreshold">
					</div>
				</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">最小人脸像素:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="minFaceSize" id="minFaceSize">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">人脸数据保存天数:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="preserveDays" id="preserveDays">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">抓拍人脸质量阈值(0-100):</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="faceQualityThreshold">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">识别入库间隔:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="intervals">
						</div>
					</div>

		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="edit_submit">提交</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<script type="text/javascript">
			$(function(){
			function reset(){
				var validator = {
                        message: '值有错误',
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            name: {
                                validators: {
                                    notEmpty: {
                                        message: '策略名不能为空'
                                    }
                                }
                            },
                            maxfaceNum: {
                                validators: {
                                    notEmpty: {
                                        message: '最多抓拍人脸数不能为空'
                                    },
                                      regexp: {
											regexp:  /^[0-9]*$/,
											message: '请输入数字'
                        			}
                                }
                            },
                            compareThreshold: {
                                validators: {
                                    notEmpty: {
                                        message: '阀值不能为空'
                                    },
                                      regexp: {
											regexp:  /^[0-9]*$/,
											message: '请输入数字'
                        			}
                                }
                            },
                            minFaceSize: {
                                validators: {
                                    notEmpty: {
                                        message: '最小人脸像素不能为空'
                                    },
                                      regexp: {
											regexp:  /^[0-9]*$/,
											message: '请输入数字'
                        				}
                                }
                            },
                            preserveDays: {
                                validators: {
                                    notEmpty: {
                                        message: '保存天数不能为空'
                                    },
                                      regexp: {
											regexp:  /^[0-9]*$/,
											message: '请输入数字'
                        				}
                                }
                            },
                            faceQualityThreshold: {
                                validators: {
                                    notEmpty: {
                                        message: '质量阈值不能为空'
                                    },
                                      regexp: {
											regexp:  /^(^[1-9][0-9]$)|(^100&)|(^[1-9]$|100|0)$/,
											message: '请输入0-100的数字'
                        				}
                                }
                            },
                            intervals: {
                                validators: {
                                    notEmpty: {
                                        message: '识别入库间隔不能为空'
                                    },
                                      regexp: {
											regexp:  /^[0-9]*$/,
											message: '请输入数字'
                        				}
                                }
                            }
						}
          		  }
          		     $('#add_form').bootstrapValidator(validator);
                     $('#edit_form').bootstrapValidator(validator);
            }
            reset();
				var myTable = 
					$('#dynamic-table').DataTable( {
						bAutoWidth: false,
						ajax: {
					        dataSrc: 'strategy'
					    },
						columns: [
						    { 
						    	bSortable: false,
						    	className: 'center',
						    	defaultContent: '<label class="pos-rel"><input type="checkbox" class="ace"><span class="lbl"></span></label>'
						    },
				            { data: "id"},
				            { data: "name"},
				            { data: "strategyType",
				                render:function(data){
				            	switch(data){
				            		case null:
				            		return '';
				            		case '0':
				            		return '黑名单';
				            		case '1':
				            		return '黑名单+白名单';
				            		case '2':
				            		return '黑名单+抓拍';
				            		case '3':
				            		return '白名单+抓拍';
				            		case '4':
				            		return '白名单';
				            	}
				            }},
				            { data: "scheme_name",
				              defaultContent: ''},
				            { data: "compareThreshold"}
				        ],
						language : {
							url: '/datatables/zh_cn.json',
							buttons: {
								copyTitle: '复制到剪切板',
								copySuccess: '复制了 %d行'
							}
						},
						"aaSorting": [],
						 select: {
							style: 'single'
						}
				    } );

 					$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
					
					var btn1 = new $.fn.dataTable.Buttons( myTable, {
						buttons: [
						  {
							 text: "<i class='fa fa-refresh bigger-110 blue'></i> <span class='hidden'>重新加载</span>",
							 className: "btn btn-white btn-primary btn-bold",
							 action: function ( e, dt, node, config ) {
							    dt.ajax.url('/faceset').load();
							 }
						  },
						  {
							extend: "colvis",
							text: "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>显示/隐藏 列</span>",
							className: "btn btn-white btn-primary btn-bold",
							columns: ':not(:first):not(:last)'
						  },
						  {
							extend: "copy",
							text: "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>复制到前切板</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "csv",
							text: "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>导出 到CSV</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "excel",
							text: "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>导出到 Excel</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "pdf",
							text: "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>导出到PDF</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "print",
							text: "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>打印</span>",
							className: "btn btn-white btn-primary btn-bold",
							autoPrint: false,
							message: 'This print was produced using the Print button for DataTables'
						  }		  
						]
					} );
					btn1.container().appendTo( $('#btns-right') );
					
					var defaultCopyAction = myTable.button(1).action();
					myTable.button(1).action(function (e, dt, button, config) {
						defaultCopyAction(e, dt, button, config);
						$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
					});
					
					
					var defaultColvisAction = myTable.button(0).action();
					myTable.button(0).action(function (e, dt, button, config) {
						
					defaultColvisAction(e, dt, button, config);


					if($('.dt-button-collection > .dropdown-menu').length == 0) {
						$('.dt-button-collection')
						.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
						.find('a').attr('href', '#').wrap("<li />")
					}
					$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
					});
					
					
					var btn2 = new $.fn.dataTable.Buttons( myTable, {
						buttons: [
				            {
				            	text: "<i class='fa fa-plus bigger-110 green'></i> <span class='hidden'>新增布控策略</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
										$('#add_modal :input[name="name"]').val('');
										$('#add_modal :input[name="maxfaceNum"]').val('');
										$('#add_modal :input[name="compareThreshold"]').val('');
										$('#add_modal :input[name="minFaceSize"]').val('');
										$('#add_modal :input[name="preserveDays"]').val('');
										$('#add_modal :input[name="faceQualityThreshold"]').val('');
										$('#add_modal :input[name="intervals"]').val('');
										$('#add_modal select[name="scheme"]').children().remove();
										  var optionvalue = "<option value=''>请选择</option>";
										$(optionvalue).appendTo($('#add_modal select[name="scheme"]'));
										 $.getJSON("scheme",function (json) {
											$(json.scheme).each(function (index,data) {
												 optionvalue = "<option value="+data.id+">"+data.name+"</option>";
												$(optionvalue).appendTo($('#add_modal select[name="scheme"]'));
											})
										})
										$('#add_modal').modal('show');
				                }
				            },
				            {
				                text: "<i class='fa fa-edit bigger-110 green'></i> <span class='hidden'>编辑布控策略</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
										var d = dt.rows( { selected: true } ).data();
										if(d.length === 0 || d.length > 1){
											alert( '请选择一行' );
										}else{
											$('#edit_modal #editId').val(d[0].id);
										$('#edit_modal :input[name="name"]').val(d[0].name);
										$('#edit_modal :input[name="maxfaceNum"]').val(d[0].maxfaceNum);
										$('#edit_modal :input[name="compareThreshold"]').val(d[0].compareThreshold);
										$('#edit_modal :input[name="minFaceSize"]').val(d[0].minFaceSize);
										$('#edit_modal :input[name="preserveDays"]').val(d[0].preserveDays);
										$('#edit_modal :input[name="faceQualityThreshold"]').val(d[0].faceQualityThreshold);
										$('#edit_modal :input[name="intervals"]').val(d[0].intervals);
										$('#edit_modal select[name="scheme"]').children().remove();
										var optionvalue = "<option value=''>请选择</option>";
										$(optionvalue).appendTo($('#edit_modal select[name="scheme"]'));
										 $.getJSON("scheme",function (json) {
											$(json.scheme).each(function (index,data) {
												  optionvalue = "<option value="+data.id+">"+data.name+"</option>";
												  if(d[0].scheme_id == data.id){
												   optionvalue = "<option value="+data.id+" selected='selected'>"+data.name+"</option>";
												}
												$(optionvalue).appendTo($('#edit_modal select[name="scheme"]'));

											})
										})
											$('#edit_modal').modal('show');
										}
				                }
				            },
				            {
				                text: "<i class='fa fa-trash bigger-110 red'></i> <span class='hidden'>删除布控策略</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
				                	var d = dt.rows( { selected: true } ).data();
				                	<!--var ids = [];-->
				                	<!--for(var i=0;i<d.length;i++){-->
				                	  	<!--ids.push(d[i].id);-->
				                	<!--}-->
				                	if(d.length === 0){
				                    	alert( '请选择一行' );
				                	}else{
				                	$.get('getCameraByStr?id='+d[0].id,function(data){
											if(data != 'success')
										  {
													 $.confirm({
															 title: '警告',
															 content: data,
															 buttons: {
																  '确认': function(){
																		 $.ajax({
																			url: '/strategy/deleteStrategy',
																			type: 'post',
																			//contentType: 'application/json; charset=UTF-8',
																			data:{
																				 id: d[0].id,
																				_method: 'DELETE'
																			},
																			success: function(result) {
																				if(result == "success"){
																					$.alert({
																						title: '提示',
																						content: '删除成功',
																					});
																					dt.ajax.url('strcontrol').load();
																				}
																			}
																		});
																},
																'取消': function(){
																		return;
																}
														}
													});
											}
											else
											{
												 $.ajax({
															url: '/strategy/deleteStrategy',
															type: 'post',
															//contentType: 'application/json; charset=UTF-8',
															data:{
																 id: d[0].id,
																_method: 'DELETE'
															},
															success: function(result) {
																if(result == "success"){
																	$.alert({
																		title: '提示',
																		content: '删除成功',
																	});
																	dt.ajax.url('strcontrol').load();
																}
															}
														});

											}
				                	})

				                	}
				                }
				            }
				        ]
					} );
					
					btn2.container().appendTo( $('#btns-left') );
				
					////
				
					setTimeout(function() {
						$($('.tableTools-container')).find('a.dt-button').each(function() {
							var div = $(this).find(' > div').first();
							if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
							else $(this).tooltip({container: 'body', title: $(this).text()});
						});
					}, 500);
					
					
					myTable.on( 'select', function ( e, dt, type, index ) {
						if ( type === 'row' ) {
							$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
						}
					} );
					myTable.on( 'deselect', function ( e, dt, type, index ) {
						if ( type === 'row' ) {
							$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
						}
					} );
					
					
					
				   $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
				   
				   /* $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
				      var th_checked = this.checked;//checkbox inside "TH" table header
				      
				      $('#dynamic-table').find('tbody > tr').each(function(){
				         var row = this;
				         if(th_checked) myTable.row(row).select();
				         else myTable.row(row).deselect();
				      });
				   }); */
				   
				   //select/deselect a row when the checkbox is checked/unchecked
				   $('#dynamic-table').on('click', 'td input[type=checkbox]', function(e){
					  var row = $(this).closest('tr').get(0);
				      if(this.checked) myTable.row(row).deselect();
				      else myTable.row(row).select();
				      e.stopImmediatePropagation();
				      e.stopPropagation();
				      e.preventDefault();
				   });

				   $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
				      e.stopImmediatePropagation();
				      e.stopPropagation();
				      e.preventDefault();
				   });
				   
				   $('#add_modal').on('shown.bs.modal', function(e){
					   $('#add_modal :input[name="name"]').focus();
				   })
				   
				   $('#edit_modal').on('shown.bs.modal', function(e){
					   $('#edit_modal :input[name="name"]').focus();
				   })
				   	 $('#add_modal').on('hidden.bs.modal', function(e){
				        $("#add_form").data('bootstrapValidator').destroy();
                        $('#add_form').data('bootstrapValidator', reset());
				   })
				    $('#edit_modal').on('hidden.bs.modal', function(e){
				        $("#edit_form").data('bootstrapValidator').destroy();
                        $('#edit_form').data('bootstrapValidator', reset());
				   })
				   $('#add_submit').click(function(e){
				       $('#add_form').bootstrapValidator('validate');
				       var bootstrapValidator = $("#add_form").data('bootstrapValidator');
                       if(bootstrapValidator.isValid())
                       {
							   var data = $('#add_form').serializeArray();
							   $.ajax({
									url: '/strategy/addStrategy',
									data: data,
									type: 'POST',
									success: function(result) {
										if(result == "success"){
											$('#add_modal').modal('hide');
											$.alert({
												title: '提示',
												content: '创建成功',
											});
											myTable.ajax.url('strcontrol').load();
										}
									}
							  });
						}
						else return;

				   })
				   
				   $('#edit_submit').click(function(e){
				   $('#edit_form').bootstrapValidator('validate');
				   var bootstrapValidator = $("#edit_form").data('bootstrapValidator');
				   if(bootstrapValidator.isValid())
				   {
					   var data = $('#edit_form').serializeArray();
					   console.log(data);
					   $.ajax({
	               			url: '/strategy/updateStrategy',
	               			data: data,
	               		    type: 'POST',
	               		    success: function(result) {
	               		    	if(result == "success"){
	               		    		$('#edit_modal').modal('hide');
	               		    		$.alert({
	            		    		    title: '提示',
	            		    		    content: '修改成功',
	            		    		});
	               		    		myTable.ajax.url('/strategy/strcontrol').load();
	               		    	}
	               		    }
               		  });
               		}
               		  else return;
				   })
			})
		
		</script>
		
		</div>
	</html>	
