<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<appender name="API_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<fileNamePattern>${LOG_PATH}/api.trace.%d{yyyy-MM-dd}.log</fileNamePattern> 
			<maxHistory>30</maxHistory> 
		</rollingPolicy> 
		<encoder> 
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}: %msg%n</pattern> 
		</encoder> 
	</appender> 

	<logger name="API_TRACE_" level="TRACE">
    	<appender-ref ref="API_TRACE" />
    </logger>
</configuration>