<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" >
<div layout:fragment="sidebar" th:replace="layout/sidebar">
</div>
<div layout:fragment="content" th:fragment="content">
	<div class="page-header">
		<h1>Face Analysis Server</h1>
	</div>
	<div class="table-header">
		Face Analysis Server
	</div>
	<div id="toolbar">
		<div class="dt-buttons btn-overlap btn-group">
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span><i class="fa fa-plus bigger-110 green"></i>
						<span class="hidden">add Analysis</span></span>
			</a>
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span><i class="fa fa-edit bigger-110 green"></i>
				<span class="hidden">edit Analysis</span></span>
			</a>
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span> <i class="fa fa-trash bigger-110 red"></i>
				<span class="hidden">delete Analysis</span></span>
			</a>
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span> <i class="fa fa-refresh bigger-110 blue"></i>
				<span class="hidden">refresh</span></span>
			</a>
		</div>
	</div>
	<div>
		<table id="table"
			   data-toolbar="#toolbar"
			   data-maintain-selected="true"
			   data-url="/analyser"
			   data-pagination="true"
			   data-search="true"
			   data-click-to-select="true"
			   data-show-columns="true">
			<thead>
			<tr>
				<th data-checkbox="true"></th>
				<th data-field="analyser.id" >Server ID</th>
				<th data-field="analyser.name">Server Name</th>
				<th data-field="analyser.ip">Server IP</th>
				<th data-field="analyserStatus.cpu" data-formatter="cupFormatter">CPU Usage Ratio</th>
				<th data-field="analyserStatus.mem" data-formatter="memFormatter">
					Memory Usage Ratio
				</th>
				<th data-field="isonline" data-formatter="statusFormatter" >status</th>
			</tr>
			</thead>
		</table>
	</div>
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="editModalLabel">Analysis</h4>
				</div>
				<div class="modal-body">
					<form id="modal_form" class="form-horizontal">
						<input type="hidden" name="id" id="editId">
						<input type="hidden" name="_method" value="patch">
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">name:</label>
							<div class="col-sm-9">
								<input class="form-control" name="name" id = "name" required="required" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group">
							<label for="ip" class="col-sm-2 control-label">ip:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="ip" id="ip" required="required" placeholder="Please input IP address" pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group">
							<label for="port" class="col-sm-2 control-label">port:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="port" id="port" required="required" pattern="^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-5]{2}[0-3][0-5])$" placeholder="Please input port" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">username:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="username" id="username" required="required" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-2 control-label">password:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="password" id="password" required="required" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="modal-footer" style="background-color:white">
							<button type="submit" class="btn btn-primary" id="model_submit">submit</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<script type="text/javascript">
			$(function(){
				$('#table').bootstrapTable({
				  onDblClickRow:function(row){
					 	  modelShow("dbclick",row);
				 	  }
				});

				   $('#table').on('click-row.bs.table', function (e, row, $element) {
						$('.success').removeClass('success');
							$($element).addClass('success');
   				   });
					 $(".fa-plus").parents("a").on('click',function(){
					     $('#modal :input').val('');
					     $('#modal :input[name="_method"]').val('');
						 $('#modal').modal('show');
					 })
					 $(".fa-edit").parents("a").on('click',function(){
					    var ids = getIdSelections();
    			 		if(ids.length ==0|| ids.length >1){
							 $.alert({
								title: 'prompt',
								content: 'choose one please'
							  });
							 return;
						}
						 modelShow("button");
					 })
                    function modelShow(mode,row){
						 if(mode == "button"){
								var analyser =  $('#table').bootstrapTable('getSelections')[0];
							}
						 else if(mode == 'dbclick')
						   {
							   var analyser =  row;
						   }
						$('#modal :input[name="_method"]').val('patch');
						$('#modal :input[name="id"]').val(analyser.analyser.id);
						$('#modal :input[name="name"]').val(analyser.analyser.name);
						$('#modal :input[name="ip"]').val(analyser.analyser.ip);
						$('#modal :input[name="port"]').val(analyser.analyser.port);
						$('#modal :input[name="username"]').val(analyser.analyser.username);
						$('#modal :input[name="password"]').val(analyser.analyser.password);
						$('#modal').modal('show');
                    }
 					$(".fa-trash").parents("a").on('click',function(){
    			 		var ids = getIdSelections();
    			 		if(ids.length ==0 || ids.length>1){
								 $.alert({
									title: 'prompt',
									content: 'choose one please'
								  });
						 	return;
					 }
				    $.ajax({
							url: '/analyser',
							type: 'post',
							dataType:"text",
							data:{
								 id: ids[0],
							     _method: 'DELETE'
							},
							success: function(result) {
								$('#modal').modal('hide');
								if(result == "success"){
									$.alert({
										title: 'prompt',
										content: 'success'
									});
									 $('#table').bootstrapTable('refresh');
								}
								else $.alert(result);
							}
						});
			      	 })
			       $(".fa-refresh").parents("a").on('click',function(){
							 $('#table').bootstrapTable('refresh');
				    })
			      $("#modal_form").on("submit", function(ev) {
					   var data = $('#modal_form').serializeArray();
					   $.ajax({
	               			url:'/analyser',
	               			data: data,
	               		    type: 'POST',
	               		    dataType:"text",
	               		    success: function(result) {
	               		     $('#table').bootstrapTable('refresh');
	               		    	if(result == "success"){
	               		    		$('#modal').modal('hide');
	               		    		$.alert({
	            		    		    title: 'prompt',
	            		    		    content: 'success'
	            		    		});
	               		    	}
	               		    	else if(result =="failed"){
	               		    		$.alert({
	            		    		    title: 'prompt',
	            		    		    content: 'success'
	            		    		});
	               		    	}
	               		    }
               		  	});
				 	    ev.preventDefault();
                  });


				  function getIdSelections() {
							return $.map($('#table').bootstrapTable('getSelections'), function (row) {
								return row.analyser.id;
							});
    			  }
   				   })//  ready end
				   function cupFormatter(value, row, index) {
						  if(value)
						  return value+'%';
				   }
				  function memFormatter(value, row, index) {
						  if(value)
						  return value+'%';
				   }
			  	  function statusFormatter(value, row, index) {
      				 if(value == false){
						 return '<span class="label label-sm label-inverse arrowed-in">Off-line</span>'
					  }
					  else if(value == true){
						 return '<span class="label label-sm label-success">On-line</span>'
					  }
    			}
		</script>

				</div>
</html>
