	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{${param.pjax}?'layout/empty':'layout/layout'}" >
		<div layout:fragment="sidebar" th:replace="layout/sidebar">
		</div>
		<div layout:fragment="content">
			<!-- <div th:replace="fragments :: navbar"></div> -->
			<!-- <h1 layout:fragment="page-header">Messages : View all</h1> -->
			<div class="page-header">
				<h1>摄像机列表</h1>
			</div>
			
			<div class="clearfix">
				<div class="pull-left tableTools-container" id="btns-left"></div>
				<div class="pull-right tableTools-container" id="btns-right"></div>
			</div>
			<div class="table-header">
				摄像机列表
			</div>
			<div >
				<table id="dynamic-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							<th class="center">
							</th>
							<th>摄像机ID</th>
							<th>摄像机名称</th>
							<th>摄像机IP</th>
							<th>布控策略</th>
							<th>
								所属人脸分析仪
							</th>
							<th>状态</th>
						</tr>
					</thead>
				</table>
			</div>
			
			
		<div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="addModalLabel">新建摄像机列表</h4>
		      </div>
		      <div class="modal-body">
		        <form id="add_form" class="form-horizontal">
		          <div class="form-group">
		            <label for="recipient-name" class="col-sm-2 control-label">设备类型：</label>
		            <div class="col-sm-9">
						<select name="camtype" class="chosen-select form-control">
							<option value="1">海康</option>
							<option value="2">大华</option>
							<option value="3">科达</option>
						</select>
		            </div>
		          </div>
					<div class="form-group">
						<label for="recipient-ip" class="col-sm-2 control-label">设备名称:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="deviceName">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">设备ip:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="ip">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">用户名:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="username">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">密码:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="password">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">布控策略:</label>
						<div class="col-sm-9">
							<select name="strategy.id" class="chosen-select form-control">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">人脸分析仪:</label>
						<div class="col-sm-9">
							<select name="analyser.id" class="chosen-select form-control">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">端口:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="port">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">RTSP端口:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="rtspPort">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">所属区域:</label>
						<div class="col-sm-9">
							<select name="region.id" class="chosen-select form-control">
							</select>
						</div>
					</div>
					<div style="margin-bottom:-20px;">
						<table id="add-table2" class="table  table-bordered table-hover">
							<thead >
							<tr >
								<th class="center" style="width:7.3%">
									<label class="pos-rel">
										<input type="checkbox" class="ace" id="addtopcheck">
										<span class="lbl"></span>
									</label>
								</th>
								<th style="width:57.2%">人脸库ID</th>
								<th style="width:14.5%">名称</th>

								<th>
									<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
									创建时间
								</th>
							</tr>
							</thead>
							</table>
					</div>
					<div id="addcheck" class="pre-scrollable"style="max-height:200px">
						<table id="add-table" class="table  table-bordered table-hover">
							<tbody>

							<tr th:each="faceset : ${facesets}">
								<td class="center" style="width:7.3%">
									<label class="pos-rel">
										<input type="checkbox" class="ace"  th:value="${faceset.token}">
										<span class="lbl"></span>
									</label>
								</td>
								<td th:text="${faceset.token}" style="width:57.2%"></td>
								<td th:text="${faceset.name}" style="width:14.5%"></td>
								<td th:text="${faceset.createTime}"></td>
							</tr>
							</tbody>
						</table>
					</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="add_submit">提交</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="editModalLabel">摄像头修改</h4>
		      </div>
		      <div class="modal-body">
		        <form id="edit_form" class="form-horizontal">
					<input type="hidden" name="id" >
		          <input type="hidden" name="_method" value="patch">
		       	  <div class="form-group">
		            <label for="name" class="col-sm-2 control-label">设备类型:</label>
		            <div class="col-sm-9">
							<select name="type" class="chosen-select form-control">
								<option value="1">海康</option>
								<option value="2">大华</option>
								<option value="3">科达</option>
							</select>
		            </div>
		          </div>
		          <div class="form-group">
		            <label for="ip" class="col-sm-2 control-label">设备名称:</label>
		            <div class="col-sm-9">
		            	<input type="text" class="form-control" name="deviceName">
		            </div>
		          </div>
				<div class="form-group">
					<label for="port" class="col-sm-2 control-label">设备ip:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="ip" >
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="col-sm-2 control-label">用户名:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="username">
					</div>
				</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">密码:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="password">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">布控策略</label>
						<div class="col-sm-9" >
							<select name="strategy.id" class="chosen-select form-control" >
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">人脸分析仪:</label>
						<div class="col-sm-9">
							<select name="analyser.id" class="chosen-select form-control">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">端口:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="port">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">RTSP端口:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="rtspPort">
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-sm-2 control-label">所属区域:</label>
						<div class="col-sm-9">
							<select name="region.id" class="chosen-select form-control">
							</select>
						</div>
					</div>
					<div style="margin-bottom:-20px">
					<table id="edit-table2" class="table  table-bordered table-hover">
						<thead>
						<tr>
							<th class="center"  style="width:7.3%">
								<label class="pos-rel">
									<input type="checkbox" class="ace" id="edittopcheck">
									<span class="lbl"></span>
								</label>
							</th>
							<th  style="width:57.2%">人脸库ID</th>
							<th style="width:14.5%">名称</th>
							<th>
								<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
								创建时间
							</th>
						</tr>
						</thead>
						</table>
					</div>
					<div id="editcheck"  class="pre-scrollable"style="max-height:200px">
						<table id="edit-table" class="table  table-bordered table-hover">
							<tbody>

							<tr th:each="faceset : ${facesets}">
								<td class="center" style="width:7.3%">
									<label class="pos-rel">
										<input type="checkbox" class="ace" th:value="${faceset.token}" >
										<span class="lbl"></span>
									</label>
								</td>
								<td th:text="${faceset.token}" style="width:57.2%"></td>
								<td th:text="${faceset.name}" style="width:14.5%"></td>
								<td th:text="${faceset.createTime}"></td>
							</tr>
							</tbody>
						</table>
					</div>


		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="edit_submit">提交</button>
		      </div>
		    </div>
		  </div>
		</div>
			<!--<script th:inline="javascript">-->
                <!--var facelist = [[${list}]];-->
			           <!--</script>-->
		<script type="text/javascript">
			$("#addtopcheck").click(function(){
				if($(this).prop("checked")){
					$("#add-table :checkbox").prop("checked",true);
				}
				else{
					$("#add-table :checkbox").prop("checked",false)
				}
			})
			$("#edittopcheck").click(function(){
				if($(this).prop("checked")){
					$("#edit-table :checkbox").prop("checked",true);
				}
				else{
					$("#edit-table :checkbox").prop("checked",false)
				}
			})
			$(function(){
			 function reset(){
			 var validator = {
                        message: '值有错误',
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            deviceName: {
                                validators: {
                                    notEmpty: {
                                        message: '设备名不能为空'
                                    }
                                }
                            },
                             ip: {
                                validators: {
                                regexp: {
									regexp:  /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/,
									message: '请输入正确ip'
                        				},
                        			notEmpty: {
                                        message: 'ip不能为空'
                                    }
                                }
                            },
                              username: {
                            		validators: {
                                   	    notEmpty: {
                                        message: '用户名不能为空'
                                    }
                                }
                               },
                               password: {
                            		validators: {
                                   	    notEmpty: {
                                        message: '密码不能为空'
                                    }
                                }
                               },
                               port: {
                            		validators: {
                                   	    notEmpty: {
                                        message: 'port不能为空'
                                    },
                                    regexp: {
                                    	regexp:/^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-5]{2}[0-3][0-5])$/,
                                    	message: '请输入正确端口'
                                    }
                                }
                               },
                                rtspPort: {
                            		validators: {
                                   	    notEmpty: {
                                        message: 'rtspPort不能为空'
                                    },
                                    regexp: {
                                    	regexp:/^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-5]{2}[0-3][0-5])$/,
                                    	message: '请输入正确端口'
                                    }
                                }
                               }
                        }
                    };
                        $('#add_form').bootstrapValidator(validator);
                     $('#edit_form').bootstrapValidator( validator);
            }
                reset();
				var myTable = 
					$('#dynamic-table').DataTable( {
						bAutoWidth: false,
						ajax: {
					        dataSrc: 'cameras'
					    },
						columns: [
						    { 
						    	bSortable: false,
						    	className: 'center',
						    	defaultContent: '<label class="pos-rel"><input type="checkbox" class="ace"><span class="lbl"></span></label>'
						    },
				            { data: "id"},
				            { data: "deviceName"},
				            { data: "ip"},
                            {
                               data:"strategy.name",
                               defaultContent: ''
                            },
                            {
                                data: "analyser.name",
                                defaultContent: ''
                            },
				            {
				            	defaultContent: 'status'
				            }
				        ],
						language : {
							url: '/datatables/zh_cn.json',
							buttons: {
								copyTitle: '复制到剪切板',
								copySuccess: '复制了 %d行'
							}
						},
						"aaSorting": [],
						select: {
							style: 'single'
						}
				    } );
					
 					$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
					
					var btn1 = new $.fn.dataTable.Buttons( myTable, {
						buttons: [
						  {
							 text: "<i class='fa fa-refresh bigger-110 blue'></i> <span class='hidden'>重新加载</span>",
							 className: "btn btn-white btn-primary btn-bold",
							 action: function ( e, dt, node, config ) {
							    dt.ajax.url('camera').load();
							 }
						  },
						  {
							extend: "colvis",
							text: "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>显示/隐藏 列</span>",
							className: "btn btn-white btn-primary btn-bold",
							columns: ':not(:first):not(:last)'
						  },
						  {
							extend: "copy",
							text: "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>复制到前切板</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "csv",
							text: "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>导出 到CSV</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "excel",
							text: "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>导出到 Excel</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "pdf",
							text: "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>导出到PDF</span>",
							className: "btn btn-white btn-primary btn-bold"
						  },
						  {
							extend: "print",
							text: "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>打印</span>",
							className: "btn btn-white btn-primary btn-bold",
							autoPrint: false,
							message: 'This print was produced using the Print button for DataTables'
						  }		  
						]
					} );
					btn1.container().appendTo( $('#btns-right') );
					
					var defaultCopyAction = myTable.button(1).action();
					myTable.button(1).action(function (e, dt, button, config) {
						defaultCopyAction(e, dt, button, config);
						$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
					});
					
					
					var defaultColvisAction = myTable.button(0).action();
					myTable.button(0).action(function (e, dt, button, config) {
						
						defaultColvisAction(e, dt, button, config);
						
						
						if($('.dt-button-collection > .dropdown-menu').length == 0) {
							$('.dt-button-collection')
							.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
							.find('a').attr('href', '#').wrap("<li />")
						}
						$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
					});
					

					var btn2 = new $.fn.dataTable.Buttons( myTable, {
						buttons: [
				            {
				            	text: "<i class='fa fa-plus bigger-110 green'></i> <span class='hidden'>新增摄像头</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
                                    $('#add_modal select[name="analyser.id"]').children().remove();
                                    var optionvalue = "<option value disabled>请选择</option>";
                                    $(optionvalue).appendTo($('#add_modal select[name="analyser.id"]'));
                                    $.getJSON("analyser",function (json) {
                                        $(json.analyser).each(function (faceindex,facedata) {
                                             optionvalue = "<option value="+facedata.analyser.id+">"+facedata.analyser.name+"</option>";
                                            $(optionvalue).appendTo($('#add_modal select[name="analyser.id"]'));
                                        })
                                    })
                                    $('#add_modal select[name="strategy.id"]').children().remove();
                                    optionvalue = "<option value disabled>请选择</option>";
                                    $(optionvalue).appendTo($('#add_modal select[name="strategy.id"]'));
                                    $.getJSON("/strategy/strcontrol",function (json) {
                                        $(json.strategy).each(function (strindex,strdata) {
                                             optionvalue = "<option value="+strdata.id+">"+strdata.name+"</option>";
                                             $(optionvalue).appendTo($('#add_modal select[name="strategy.id"]'));
                                        })
                                    })
                                     $('#add_modal select[name="region.id"]').children().remove();
                                     $.getJSON("region",function (json) {
                                        $(json.regions).each(function (regionindex,regiondata) {
                                            var optionvalue = "<option value="+regiondata.id+">"+regiondata.name+"</option>";
                                            $(optionvalue).appendTo($('#add_modal select[name="region.id"]'));
                                        })

                                    })
                                    $('#add_modal :text').val("");
                                    $("#add_modal :checkbox").removeAttr("checked");
				                	$('#add_modal').modal('show');
				                }
				            },
				            {
				                text: "<i class='fa fa-edit bigger-110 green'></i> <span class='hidden'>编辑摄像头</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
				                	var d = dt.rows( { selected: true } ).data();
				                	if(d.length === 0){
				                    	$.alert( '请选择一行' );
				                	}else{
                                        $('#edit_modal :input[name="id"]').val(d[0].id);
                                        $('#edit_modal :input[name="deviceName"]').val(d[0].deviceName);
                                        $('#edit_modal :input[name="ip"]').val(d[0].ip);
                                        $('#edit_modal :input[name="username"]').val(d[0].username);
                                        $('#edit_modal :input[name="password"]').val(d[0].password);
                                        $('#edit_modal :input[name="port"]').val(d[0].port);
                                        $('#edit_modal :input[name="rtspPort"]').val(d[0].rtspPort);
                                        $('#edit_modal select[name="camtype"]').children().remove("selected")
                                        $('#edit_modal select[name="camtype"]').children().each(function (index,data) {
												if($(data).text() == d[0].camtype){
                                                    $(data).attr("selected","selected");
												}
                                        })
                                        $('#edit_modal select[name="analyser.id"]').children().remove();
                                        var optionvalue = "<option disabled>请选择</option>";
                                        $(optionvalue).appendTo($('#edit_modal select[name="analyser.id"]'));
                                        $.getJSON("analyser",function (json) {
                                            $(json.analyser).each(function (faceindex,facedata) {
                                                 optionvalue = "<option value="+facedata.analyser.id+">"+facedata.analyser.name+"</option>";
                                                 $(optionvalue).appendTo($('#edit_modal select[name="analyser.id"]'));
                                            })
                                            $('#edit_modal select[name="analyser.id"]').children().each(function (index,data) {
                                                if(d[0].analyser != null && $(data).text() == d[0].analyser.name){
                                                    $(data).attr("selected","selected");
                                                }
                                            })
                                        })
                                        $('#edit_modal select[name="strategy.id"]').children().remove();
										optionvalue = "<option disabled>请选择</option>";
										$(optionvalue).appendTo($('#edit_modal select[name="strategy.id"]'));
										$.getJSON("/strategy/strcontrol",function (json) {
											$(json.strategy).each(function (strindex,strdata) {
												 optionvalue = "<option value="+strdata.id+">"+strdata.name+"</option>";
												 if(d[0].strategy != null && strdata.id == d[0].strategy.id){
                                                   optionvalue = "<option value="+strdata.id+" selected='selected'>"+strdata.name+"</option>";
                                                }
												$(optionvalue).appendTo($('#edit_modal select[name="strategy.id"]'));
											})
										})
                                        $('#edit_modal select[name="region.id"]').children().remove();
                                        $.getJSON("region",function (json) {
                                            $(json.regions).each(function (regionindex, regiondata) {
                                                var optionvalue = "<option value=" + regiondata.id + ">" + regiondata.name + "</option>";
                                                $(optionvalue).appendTo($('#edit_modal select[name="region.id"]'));
                                                $('#edit_modal select[name="region.id"]').children().each(function (index, data) {
                                                    if (d[0].region !=null && $(data).text() == d[0].region.name) {
                                                        $(data).attr("selected", "selected");
                                                    }
                                                })
                                            })
                                        })

                                        $('#editcheck :checkbox').prop('checked',false);
                                        //$.getJSON("getCamara?id="+d[0].id,function(camedata){
												 for(var camindex in  d[0].faceSets){
														 $('#editcheck :checkbox').each(function(index,data){
													 	 	if($(this).val() == d[0].faceSets[camindex].token){
													 			$(this).prop('checked',true)
													 	}
													 })
												 }
				                	//})

				                		$('#edit_modal').modal('show');
				                	}
				                }
				            },
				            {
				                text: "<i class='fa fa-trash bigger-110 red'></i> <span class='hidden'>删除摄像机</span>",
				                className: "btn btn-white btn-primary btn-bold",
				                action: function ( e, dt, node, config ) {
				                	var d = dt.rows( { selected: true } ).data();
				                	if(d.length === 0){
				                    	$.alert( '请选择一行' );
				                	}else{
				                		$.ajax({
				                			url: '/sysmanage/delCamera',
				                		    type: 'post',
				                		    //contentType: 'application/json; charset=UTF-8',
				                		    data:{
				                		    	 id: d[0].id,
				                		    	_method: 'DELETE'
				                		    },
				                		    success: function(result) {
				                		    	if(result == "success"){
				                		    		$.alert({
				                		    		    title: '提示',
				                		    		    content: '删除成功',
				                		    		});
				                   		    		dt.ajax.url('/sysmanage/camera').load();
				                   		    	}
				                		    }
				                		});
				                	}
				                }
				            }
				        ]
					} );
					
					btn2.container().appendTo( $('#btns-left') );
				
					setTimeout(function() {
						$($('.tableTools-container')).find('a.dt-button').each(function() {
							var div = $(this).find(' > div').first();
							if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
							else $(this).tooltip({container: 'body', title: $(this).text()});
						});
					}, 500);
					
					
					myTable.on( 'select', function ( e, dt, type, index ) {
						if ( type === 'row' ) {
							$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
						}
					} );
					myTable.on( 'deselect', function ( e, dt, type, index ) {
						if ( type === 'row' ) {
							$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
						}
					} );
					

					
				   $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
				   
				   /* $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
				      var th_checked = this.checked;//checkbox inside "TH" table header
				      
				      $('#dynamic-table').find('tbody > tr').each(function(){
				         var row = this;
				         if(th_checked) myTable.row(row).select();
				         else myTable.row(row).deselect();
				      });
				   }); */
				   
				   //select/deselect a row when the checkbox is checked/unchecked
				   $('#dynamic-table').on('click', 'td input[type=checkbox]', function(e){
					  var row = $(this).closest('tr').get(0);
				      if(this.checked) myTable.row(row).deselect();
				      else myTable.row(row).select();
				      e.stopImmediatePropagation();
				      e.stopPropagation();
				      e.preventDefault();
				   });
  					$('#add_modal').on('hidden.bs.modal', function(e){
				        $("#add_form").data('bootstrapValidator').destroy();
                        $('#add_form').data('bootstrapValidator', reset());
				   })
				   $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
				      e.stopImmediatePropagation();
				      e.stopPropagation();
				      e.preventDefault();
				   });
				   
				   $('#add_modal').on('shown.bs.modal', function(e){
					   $('#add_modal :input[name="name"]').focus();
				   })
				   
				   $('#edit_modal').on('shown.bs.modal', function(e){
					   $('#edit_modal :input[name="name"]').focus();
				   })
				   $('#edit_modal').on('hidden.bs.modal', function(e){
					$("#edit_form").data('bootstrapValidator').destroy();
					$('#edit_form').data('bootstrapValidator', reset());
			   })
				   $('#add_submit').click(function(e){
				  		$('#add_form').bootstrapValidator('validate');
				        var bootstrapValidator = $("#add_form").data('bootstrapValidator');
				        if(bootstrapValidator.isValid())
                       {
								   var data = $('#add_form').serializeArray();
								   var faceSetIds = [];
								   $("#addcheck :checkbox").each(function(index,data){
									if($(this).is(':checked') == true){
										faceSetIds.push($(this).val());
									}
								   })
								   data.push({name:"faceSets",value:faceSetIds});
								   $.ajax({
										url: '/sysmanage/addCamera',
										data: data,
										type: 'POST',
										success: function(result) {
											if(result == "success"){
												$('#add_modal').modal('hide');
												$.alert({
													title: '提示',
													content: '创建成功',
												});
												myTable.ajax.url('/sysmanage/camera').load();
											}
										}
								  });

						}
						else return;

				   })
				   
				   $('#edit_submit').click(function(e){
				   		$('#edit_form').bootstrapValidator('validate');
				        var bootstrapValidator = $("#edit_form").data('bootstrapValidator');
				        if(bootstrapValidator.isValid())
                       {
								var data = $('#edit_form').serializeArray();
								var faceSetIds = [];
								 $("#editcheck :checkbox").each(function(index,data){
									if($(this).is(':checked') == true){
										faceSetIds.push($(this).val());
									}
								   })
								   data.push({name:"faceSets",value:faceSetIds});
							   $.ajax({
									url: '/sysmanage/updateCamera',
									data: data,
									type: 'POST',
									success: function(result) {
										if(result == "success"){
											$('#edit_modal').modal('hide');
											$.alert({
												title: '提示',
												content: '修改成功',
											});
											myTable.ajax.url('/sysmanage/camera').load();
										}
									}
							  });
							  }
						else return;
				   })
			})
		
		</script>
		
		</div>
	</html>	
