	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{${param.pjax}?'layout/empty':'layout/layout'}" >
		<div layout:fragment="sidebar" th:replace="layout/sidebar">
		</div>
		<div layout:fragment="content">
			<!-- <div th:replace="fragments :: navbar"></div> -->
			<!-- <h1 layout:fragment="page-header">Messages : View all</h1> -->
			<div class="page-header">
				<h1>登录设置 </h1>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div style="width:50%;float:left;padding-left:2%">
						<label>是否自动登录(重新登录生效):</label>
					</div>
					<div >
						<label>
							<input name="autologin" class="ace ace-switch ace-switch-4" type="checkbox" />
							<span class="lbl"></span>
						</label>
			    	</div>
				</div>
				<script th:inline="javascript">
						var user =  [[${session.user}]];
				</script>
			</div>
				 <script>
				       if(user.autologin == true){
					    	   $(":checkbox").prop("checked",true);
					    }
					 $(function(){
					    if(user.autologin == true){
					    	   $(":checkbox").prop("checked",true);
					    }
						$(":checkbox").on('change',function(){
							$.post('updateUser',{id:user.id,autologin:$(this).is(":checked"),_method:'patch'},'text');
						})
					})
				</script>
		</div>

	</html>
