	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{${param.pjax}?'layout/empty':'layout/layout'}" >
		<div layout:fragment="sidebar" th:replace="layout/sidebar">
		</div>
		<div layout:fragment="content" th:fragment="content">
			<!-- <div th:replace="fragments :: navbar"></div> -->
			<!-- <h1 layout:fragment="page-header">Messages : View all</h1> -->
			<div class="page-header">
				<h1>System info</h1>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
						<b>Company Info</b>
					</div>
				</div>

				<div class="row">
					<ul class="list-unstyled spaced">
						<li>
							<i class="ace-icon fa fa-caret-right blue"></i>SW Name：Minivision Face Recognition Analysis and Management Platform
						</li>

						<li>
							<i class="ace-icon fa fa-caret-right blue"></i>Server Version：V1.0
						</li>

						<li>
							<i class="ace-icon fa fa-caret-right blue"></i>
							Biggest capacity for FR Data Base under license:
							<b class="red">100000</b>
						</li>

						<li>
							<i class="ace-icon fa fa-caret-right blue"></i>
							Amount of cameras under authorization:
							<b class="red">100</b>
						</li>
						<!--<li>-->
							<!--<i class="ace-icon fa fa-caret-right blue"></i>客户端：</span></a>-->
						<!--</li>-->
					</ul>
				</div>
			</div>
			<script>

			</script>
		</div>

	</html>	
