<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" >
<div layout:fragment="sidebar" th:replace="layout/sidebar">
</div>
<div layout:fragment="content" th:fragment="content">
	<div class="page-header">
		<h1>System Logs</h1>
	</div>
	<div class="table-header">
		System Logs
	</div>
	<div id="toolbar">
		<div class="dt-buttons btn-overlap btn-group">
			<div style="float:left;width:220px;"><span>Operation:</span>
				<select name="modelName"  style="width:150px;height:33px" id="select_model">
					 <option value="">choose</option>
					<option value="Login">login</option>
					<option value="User">User</option>
					<option value="ClientUser">clientUser</option>
					 <option value="Analyser">analyser</option>
					 <option value="Camera">camera</option>
					 <option value="Area">area</option>
					 <option value="Access">access control</option>
					 <option value="Face">face</option>
					 <option value="FaceDB">face DB</option>
					 <option value="Strategy">strategy</option>
					 <option value="TimePlan">time plan</option>
				</select>
			</div>
			<label for="startTime" class="col-sm-2 control-label" style="width:90px!important">StartTime:</label>
			<div id="form_startTime" class="input-group date form_datetime col-md-4"  data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="startTime" style="width:200px!important;float:left">
				<input class="form-control" size="16" type="text" value="" readonly id="ori_startTime">
				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			</div>
		   <input type="hidden" id="startTime" value="" />
			<label for="endTime" class="col-sm-2 control-label" style="width:90px!important">EndTime:</label>
			<div  id="form_endTime" class="input-group date form_datetime col-md-4" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="endTime" style="width:200px!important;float:left">
				<input class="form-control" size="16" type="text" value="" readonly id="ori_endTime">
				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			</div>
			<input type="hidden" id="endTime" value="" />
			<input id="query" type="button" class="btn btn-white" style="margin-left:15px;height:34px;margin-right:15px" value="query"/>
			<!--<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">-->
					<!--<span> <i class="fa fa-refresh bigger-110 blue"></i>-->
				<!--<span class="hidden">重新加载</span></span>-->
			<!--</a>-->
		</div>
	</div>
	<div>
		<table id="table"
			   data-toolbar="#toolbar"
			   data-maintain-selected="true"
			   data-url="/syslog"
			   data-side-pagination="server"
			   data-page-list="[5, 10, 20, 50, 100]"
			   data-pagination="true"
			   data-click-to-select="true"
			   data-show-columns="true"
			   data-detail-view="true"
			   data-detail-formatter="detailFormatter">
			<thead>
			<tr>
				<th data-checkbox="true"></th>
				<th data-field="id">ID</th>
				<th data-field="user.username" >UserName</th>
				<th data-field="user.roles" data-formatter="roleFormatter">User Role</th>
				<th data-field="modelName">Operation Module</th>
				<th data-field="opration">Operation Method</th>
				<th data-field="ip">IP Address</th>
				<th data-field="createTime">Operation Time</th>
				<!--<th data-field="oprateDetails">详情</th>-->
			</tr>
			</thead>
		</table>
	</div>
	<script type="text/javascript">
			$(function(){
				$('#table').bootstrapTable({
					 queryParams: function(params){
					 	 params.modelName = $("#select_model").val();
						 params.startTime = $("#startTime").val() ==""?getNowFormatDate().currentfromdate:$("#startTime").val();
						 params.endTime = $("#endTime").val()==""?getNowFormatDate().currentdate:$("#endTime").val();
						 return params;
					 },
					 responseHandler : function(result){
					 	return result;
					 }
				 });
				
				   $('#table').on('click-row.bs.table', function (e, row, $element) {
						$('.success').removeClass('success');
							$($element).addClass('success');
   				   });
			      	 $(".fa-refresh").parents("a").on('click',function(){
						    $('#table').bootstrapTable('refresh');
				    })
  					 $("select[name=modelName]").on("change",function(){
    		    	        $('#table').bootstrapTable('refresh');
				     })
				    $('#form_startTime').datetimepicker({
						language:  'zh-CN',
						weekStart: 1,
						todayBtn:  1,
						autoclose: 1,
						todayHighlight: 1,
						startView: 2,
						forceParse: 0,
						showMeridian: 1,
						endDate:new Date()
				 	});

				   $('#form_endTime').datetimepicker({
						language:  'zh-CN',
						weekStart: 1,
						todayBtn:  1,
						autoclose: 1,
						todayHighlight: 1,
						startView: 2,
						forceParse: 0,
						showMeridian: 1,
						endDate:new Date()
				 	});
		     $("#query").on('click',function(){
		        var startTime = $("#startTime").val() ==""?$("#ori_startTime").val():$("#startTime").val();
			    var endTime = $("#endTime").val()==""?$("#ori_endTime").val():$("#endTime").val();
		     	if(startTime >  endTime){
		        	  $.alert({
						title: 'prompt',
						content: 'End time must not be less than Begin time'
				 	});
				 	return;
				 }
				  $('#table').bootstrapTable('refresh');
		       })

   			 })//  ready end
				$("#ori_startTime").val(getNowFormatDate().currentfromdate);
				$("#ori_endTime").val(getNowFormatDate().currentdate);

		function getNowFormatDate() {
			var date = new Date();
			var seperator1 = "-";
			var seperator2 = ":";
			var month = date.getMonth() + 1;
			var strDate = date.getDate();
			var strMinutes = date.getMinutes();
			var strSeconds =  date.getSeconds();
			if (month >= 1 && month <= 9) {
				month = "0" + month;
			}
			if (strDate >= 0 && strDate <= 9) {
				strDate = "0" + strDate;
			}
			if (strMinutes >= 0 && strMinutes <= 9) {
				strMinutes = "0" + strMinutes;
			}
			if (strSeconds >= 0 && strSeconds <= 9) {
				strSeconds = "0" + strSeconds;
			}
			var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
					+ " " + date.getHours() + seperator2 + strMinutes
					+ seperator2 + strSeconds;
			var currentfromdate = 	 date.getFullYear() + seperator1 + month + seperator1 + strDate
					+ " " +"00:00:00";
			var current = {};
			current.currentdate = currentdate;
			current.currentfromdate = currentfromdate;
			return current;
		}

		function roleFormatter(data){
				 if(data == null){
				    return 'unknown User';
				 }
				  if(data.length == 2){
   			     		return 'Admin';
   			     }
   			     else
   			     	return 'user';
		}

		function detailFormatter(index,row){
              return '<p>'+row.oprateDetails+'</p>';
		}
		</script>

</div>
</html>
