<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" >
<div layout:fragment="sidebar" th:replace="layout/sidebar">
</div>
<div layout:fragment="content" th:fragment="content">
	<div class="page-header">
		<h1>User Account</h1>
	</div>
	<div class="table-header">
		User Account
	</div>
	<div id="toolbar">
		<div class="dt-buttons btn-overlap btn-group">
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span><i class="fa fa-plus bigger-110 green"></i>
						<span class="hidden">add</span></span>
			</a>
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span><i class="fa fa-edit bigger-110 green"></i>
				<span class="hidden">edit</span></span>
			</a>
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span> <i class="fa fa-trash bigger-110 red"></i>
				<span class="hidden">delete</span></span>
			</a>
			<a class="dt-button btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" href="#" data-original-title="" title="">
					<span> <i class="fa fa-refresh bigger-110 blue"></i>
				<span class="hidden">refresh</span></span>
			</a>
		</div>
	</div>
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="editModalLabel">User Account</h4>
				</div>
				<div class="modal-body">
					<form id="modal_form" class="form-horizontal">
						<input type="hidden" name="id" id="editId">
						<input type="hidden" name="_method" value="patch">
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Username:</label>
							<div class="col-sm-9">
								<input class="form-control" name="username" id="name" required="required" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Password:</label>
							<div class="col-sm-9">
								<input class="form-control" name="password" id="password" required="required" type="password" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group">
							<label for="confirmPassword" class="col-sm-2 control-label">Confirm Password:</label>
							<div class="col-sm-9">
								<input class="form-control" name="confirmPassword" id="confirmPassword" type="password" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group">
							<label for="ip" class="col-sm-2 control-label">User Role:</label>
							<div class="col-sm-9">
								<select id="rolesId"  class="chosen-select form-control" required="required" oninvalid="setCustomValidity('fill this blank with right format')" oninput="setCustomValidity('')">
									<!--<option  value=0>超级管理员</option>-->
									<option value=1>admin</option>
									<option value=2>user</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="model_submit">submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div>
		<table id="table"
			   data-toolbar="#toolbar"
			   data-maintain-selected="true"
			   data-url="/user"
			   data-pagination="true"
			   data-search="true"
			   data-click-to-select="true"
			   data-show-columns="true">
			<thead>
			<tr>
				<th data-radio="true"></th>
				<th data-field="username" >username</th>
				<th data-field="roles" data-formatter="roleFormatter">User Role</th>
				<th data-field="enabled" data-formatter="enableFormatter" >Enable</th>
			</tr>
			</thead>
		</table>
	</div>

	<script type="text/javascript">
			$(function(){
				$('#table').bootstrapTable({
				  onDblClickRow:function(row){
					 	  modelShow("dbclick",row);
				 	  }
				 });
				
				   $('#table').on('click-row.bs.table', function (e, row, $element) {
						$('.success').removeClass('success');
							$($element).addClass('success');
   				   });
					 $(".fa-plus").parents("a").on('click',function(){
					     $('#modal :input').val('');
						  $('#modal').modal('show');
					 })
					 $(".fa-edit").parents("a").on('click',function(){
					    model_type ='edit';
					    var ids = getIdSelections();
    			 		if(ids.length ==0|| ids.length >1){
							 $.alert({
								title: 'prompt',
								content: 'choose one please'
							  });
							 return;
						}
                        var user =  $('#table').bootstrapTable('getSelections');
                        $('#modal :input[name="_method"]').val('patch');
                        $('#modal :input[name="id"]').val(user[0].id);
                        $('#modal :input[name="username"]').val(user[0].username);
                        $('#modal :input[name="password"]').val("******");
                        $('#modal :input[name="confirmPassword"]').val("******");
                        $('#modal').modal('show');
					 })
 		            function modelShow(mode,row){
 		                  if(mode == "button"){
								 var user =  $('#table').bootstrapTable('getSelections')[0];
							}
						  else if(mode == 'dbclick')
						   {
							   var user =  row;
						   }
                        $('#modal :input[name="_method"]').val('patch');
                        $('#modal :input[name="id"]').val(user.id);
                        $('#modal :input[name="username"]').val(user.username);
                        $('#modal :input[name="password"]').val("******");
                        $('#modal :input[name="confirmPassword"]').val("******");
                        $('#modal').modal('show');
 		            }
 					$(".fa-trash").parents("a").on('click',function(){
    			 		var ids = getIdSelections();
    			 		if(ids.length ==0 || ids.length>1){
								 $.alert({
									title: 'prompt',
									content: 'choose one please'
								  });
						 	return;
						 }
				       $.ajax({
							url: '/user',
							type: 'post',
							dataType:"text",
							data:{
								 id: ids[0],
							     _method: 'DELETE'
							},
							success: function(result) {
								$('#modal').modal('hide');
								if(result == "success"){
									$.alert({
										title: 'prompt',
										content: 'success'
									});
									 $('#table').bootstrapTable('refresh');
								}
								else $.alert(result);
							}
						});
			      	 })
			        $(".fa-refresh").parents("a").on('click',function(){
							 $('#table').bootstrapTable('refresh');
				    })
			       $("#modal_form").on("submit", function(ev) {
			       	   if($('#modal :input[name="password"]').val() != $('#modal :input[name="confirmPassword"]').val()){
                       		$.alert({
	            		    		    title: 'prompt',
	            		    		    content: 'Password different from confirmation password'
	            		    });
	            		    ev.preventDefault();
	            		    return;
                       };
                       data =  $('#modal_form').serializeArray();
                       var roleIds = [];
                       if($("#rolesId").val() == 1){
                       		roleIds.push(1);
                       		roleIds.push(2);
                       }
                       else{
                          roleIds.push(2);
                       }
                       data.push({name:"roles",value:roleIds});
					   $.ajax({
	               			url:'/user',
	               			data: data,
	               		    type: 'POST',
	               		    dataType:"text",
	               		    success: function(result) {
	               		     $('#table').bootstrapTable('refresh');
	               		    	if(result == "success"){
	               		    		$('#modal').modal('hide');
	               		    		$.alert({
	            		    		    title: 'prompt',
	            		    		    content: 'success'
	            		    		});
	               		    	}
	               		    	else {
	               		    		$.alert({
	            		    		    title: 'prompt',
	            		    		    content:result
	            		    		});
	               		    	}
	               		    },
	               		    error:function(errorcode,msg){
	               		        if(errorcode.status == 403 )
	               		        $.alert({
	            		    		    title: 'prompt',
	            		    		    content: 'forbidden'
	            		    		});
	               		    }
               		  	});
				 	 ev.preventDefault();
                  });

				  function getIdSelections() {
							return $.map($('#table').bootstrapTable('getSelections'), function (row) {
								return row.id;
							});
    			  }

   			  $('#table').on('load-success.bs.table',function(data){
                   $(":checkbox").on('click',function(ev){
                        var id = getIdSelections();
                        $.ajax({
							url: '/user/disabled',
							type: 'post',
							dataType:"text",
							data:{
								 id: id[0]
							},
							success: function(result) {
								$('#modal').modal('hide');
								if(result == "success"){
									$.alert({
										title: 'prompt',
										content: 'success'
									});
									 <!--$('#table').bootstrapTable('refresh');-->
								}
								else $.alert(result);
							}
						});
                   })
             });
   			  })//  ready end
   			 function roleFormatter(data){
   			     if(data.length == 2){
   			     		return 'admin';
   			     }
   			     else
   			     	return 'user';
   			 }
   			 function enableFormatter(data){
   			    if(data == 0){
   			    	return '<div style="height:30px"><label><input class="ace ace-switch ace-switch-4" type="checkbox" /><span class="lbl"></span></label></div>';
   			    }
   			    else
   			    return '<div style="height:30px"><label><input class="ace ace-switch ace-switch-4" type="checkbox" checked="checked" /><span class="lbl"></span></label></div>';
   			 }
		</script>

</div>
</html>
